*{
    box-sizing: border-box;
}
.login-body{
    color: aliceblue;
    background-image: url("image/13514659_SL.123119.26540.04.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.login-body h3{
    color: #01ffff; 
}
.login-body .submit-button{
    background-color: #1cc9e2;
}


.dashboard-body{
    background-color:#002434;
}
.statistics-container{
    position: relative;
    height: 118px;
    margin-right: 36px;
}
.statistics{
    width: 309px;
    position: absolute;
    top: 33px;
    right: 0;
}
.yellow{
    color: #ffd60a;
}
table{
    text-align: center;
    border: 0.5px solid rgb(225, 221, 221);
}
thead{
    background-color:#1cc9e2;
}
.h3-div{
    height: 42px;
}
.h3-div h3{
    margin-top: -14px;
}
.lyrics{
    cursor: pointer;
    white-space: nowrap; 
    width: 100px; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.modal-content{
    background-color: #002434;
}
.delete-button{
    background-color: #f43547;
}
.btn-close{
    background-color: white;
}

.multiple-button{
    margin: 17PX 0PX 0PX 14PX;
    background-color: #ff5400;
    border: 0px;
    color: white;
}
